<form action="/songs" method = "POST">

  <label>Song Name</label>
<input type="text" name = "songs[name]" id="Name" >
  </br>

  <label>Artist Name</label>
<input type="text" id="Artist Name" name = "songs[add_artist_by_name]">
</br>

  <label>Select a Genre</label>
  </br>


  <% @genres.each do |genre| %>
  <label for="genre_<%= genre.id %>"><%= genre.name %></label>
  <input type="checkbox" name="songs[genre_ids][]" value="<%= genre.id%>" id="genre_<%= genre.id %>">
  </br>
<% end %>

</br>
<input type="submit" value="Create">
</form>